*,::before,::after {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;/*以你的border开始计算你的宽度*/
}
/*qing清除浮动*/
.clearfix::before,
.clearfix::after {
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}
html, body {
    color: #444;
    background-color: #e6e6e6;
    font-family:'SimSun';
}
/*page*/
.page {
    max-width: 910px;
    min-width: 300px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 2px 7px rgba(100, 100, 100, 0.5);
}
/*头部开始*/
.page-header {
    width: 100%;
    padding: 70px 50px 0 50px;
}
.page-header .logo {
    width: 20%;
    float: left;
}
.page-header .kerrvi {
    width: 15%;
    float: left;
}
.page-header .message {
    float: left;
    width: 65%;
}
.page-header .message .name {
    font-size: 30px;
    font-weight:900;
    text-align: center;
    line-height: 42px;
}
.page-header .message .name span {
    font-size: 20px;
    font-weight: 600;
}
.page-header .message .sdept {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    line-height: 40px;
    letter-spacing: 4px;
}
.page-header .message ul {
    list-style-type:none;
}
.page-header .message ul li {
    float: left;
    width: 50%;
    font-size: 14px;
    line-height: 25px;
    text-indent: 38px;
}

/*内容开始*/
.column {
    padding: 0 50px 15px 70px;
    font-size: 14px;
}
.column .title {
    border-bottom:1px solid #000000;
    font-size: 22px;
    line-height: 32px;
}
/*求职意向*/
.column .content1 {
    padding-top:5px;
}
.column .content1 p {
    line-height: 26px;
    text-indent: 5px;
}
/*教育背景*/
.column .content2 p {
    line-height: 46px;
    font-weight:600;
    text-indent: 5px;
}
.column .content2 p>span {
    font-weight:500;
}
/*专业能力*/
.column .content3 ul {
    padding-left:25px;
}
.column .content3 ul li {
    line-height:34px;
    text-indent: 5px;
}

/*相关经历*/
.column .content4 p {
    font-weight: 600;
    line-height: 30px;
    text-indent: 5px;
}
.column .content4 ul {
    padding-left:34px;
}
.column .content4 ul li {
    line-height:22px;
}
.column .content4 ul li a:hover {
    color: red;
}

/*其他经历*/
.column .content5 {
    padding-top: 5px;
}
.column .content5 p {
    line-height:26px;
    text-indent: 10px;
}

/*兴趣爱好和自我评价*/
.column .content6,.column .content7 {
    padding-top: 5px;

}
.column .content6 ul,.column .content7 ul {
    padding-left:25px;
}
.column .content6 li,.column .content7 li {
    line-height:26px;
}